.container {
    display: flex;
    column-gap: 25px;
    background: cadetblue;
}

.sortable_area {
    background: coral;
}

.list {
    background: cornflowerblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list_item {
    user-select: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: cornsilk;
}