.container {
  display: inline-block;

  &__button {
    &:disabled {
      filter: grayscale(100%);
      cursor: not-allowed;
    }

    cursor: pointer;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: none;
    flex: 1;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--venetian);
    text-transform: capitalize;
    border: 1px solid transparent;
    user-select: none;

    &:focus:not(&:disabled) {
      outline: none;
    }

    // button wrapper blocks in it
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    background-color: var(--azure);
    // all variants and effects
    &__v_primary {
      transition: box-shadow, background-color 0.3s;
      // hover effect
      &:hover:not(&:disabled) {
        background-color: var(--doger);
      }

      // focus effect
      &:focus:not(&:disabled) {
        outline: none;
        box-shadow: 0 2px 4px var(--chinese), 0 0 0 4px var(--diamond_1);
      }
    }

    &__v_secondary {
      background-color: var(--ghost);
      color: var(--azure);
      border-color: var(--diamond_1);
      transition: color, box-shadow, background-color 0.4s ease;
      // hover effect
      &:hover:not(&:disabled) {
        background-color: var(--alice);
      }

      // focus effect
      &:focus:not(&:disabled) {
        box-shadow: 0 2px 4px var(--chinese), 0 0 0 4px var(--diamond_2);
      }
    }

    &__v_tertiary {
      background-color: var(--venetian);
      color: var(--azure);
      border-color: var(--cornflower);
      box-shadow: 0 2px 4px var(--chinese), 0 0 0 4px var(--beau);
      // hover effect
      &:hover:not(&:disabled) {
        background-color: var(--ghost);
        box-shadow: none;
      }

      // focus effect
      &:focus:not(&:disabled) {
        box-shadow: 0 2px 4px var(--chinese), 0 0 0 4px var(--ghost);
      }
    }

    &__v_quaternary {
      background-color: transparent;
      color: var(--azure);
      box-shadow: none;
      transition: background-color 0.4s ease;
      // hover effect
      &:hover:not(&:disabled) {
        background-color: var(--alice);
      }
    }

    // button size and icon size styles
    &__xs {
      height: 24px;
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 10px;
      gap: 4px;

      &__icon {
        height: 12px;
        width: 12px;
      }
    }

    &__sm {
      height: 32px;
      padding: 8px 10px;
      border-radius: 8px;
      font-size: 12px;
      gap: 6px;

      &__icon {
        height: 14px;
        width: 14px;
      }
    }

    &__md {
      height: 40px;
      padding: 8px 12px;
      border-radius: 8px;
      font-size: 14px;
      gap: 8px;

      &__icon {
        height: 18px;
        width: 18px;
      }
    }

    &__lg {
      height: 48px;
      padding: 12px 16px;
      border-radius: 12px;
      font-size: 16px;
      gap: 10px;

      &__icon {
        height: 20px;
        width: 20px;
      }
    }

    &__xl {
      height: 56px;
      padding: 16px;
      border-radius: 12px;
      font-size: 18px;
      gap: 12px;

      &__icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.width_full {
  width: 100% !important;
  justify-content: center;
}