@import "./reset.scss";
@import "./normalize.scss";
@import "./variables.scss";
@import "./root.scss";

*::selection {
  background-color: var(--azure);
  color: #fff;
}

.go2072408551 {
  padding: 0 !important;
}

.go3958317564 {
  margin: 0 !important;
  padding: 7px;
}